[core]
  pager = cat
  editor = cat
[pull]
  commit = yes
[merge]
  commit = yes
  conflictstyle = diff3
[color]
  ui = auto
[color "branch"]
  current = blue dim reverse
  local = blue dim
  remote = green
[color "diff"]
  whitespace = red reverse
  meta = blue dim bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = blue dim
  changed = green
  untracked = cyan

[user]
  name = Michael Lucy
  email = mlucy@rethinkdb.com

[alias]
  st = status
  s = status --short
  ci = commit
  br = branch
  cb = rev-parse --abbrev-ref HEAD
  co = checkout
  df = diff
  ds = diff --stat
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ack = log -p -S
  ls = ls-files
  mrb = for-each-ref --sort=committerdate refs/heads/

[diff]
  algorithm = patience
[push]
  default = simple
